/resource

*.pth

*.mha

*.npz

db.sqlite3

uwsgi.ini

/app1/migrations/*
!/app1/migrations/__init__.py

/app1/admin.py

/app1/__pycache__

/app1/Diffdp

/chart/__pycache__

/app1/migrations/__pycache__