<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>历史记录查询</title>
    <link rel="stylesheet" href="/static/app1/css/bootstrap.min.css?v={{VERSION}}">
    <link rel="stylesheet" href="/static/app1/css/bootstrap-table.min.css?v={{VERSION}}">
    <link rel="stylesheet" href="static/app1/css/base.css?v={{VERSION}}">
    <link rel="stylesheet" href="static/app1/css/index.css?v={{VERSION}}">
    <script src="static/app1/js/jquery.min.js"></script>
    <script src="static/app1/js/bootstrap-table.min.js"></script>
    <script src="static/app1/js/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
     <!-- 头部区域 -->
     <div class="top">
         <div class="logo">
             <img src="../../static/app1/img/SCU_logo.png">
         </div>
         <div class="login">
             <a href="#" style="color:white;">注册</a>
             <a href="#" style="margin-left:5px; color:white;">登录</a>
         </div>
     </div>
     <div class="ngv">
         <a href="#" class="title">
             AI prediction
         </a>
         <ul>
             <li>
                 <a href="{% url 'index' %}" class="active" >首页</a>
             </li>
             <li>
                 <a href="{% url 'predict' %}" >剂量图生成</a>
             </li>
             <li>
                 <a href="{% url 'history' %}" style="color:#90ee90;">历史查询记录</a>
             </li>
             <li>
                 <a href="#">在线对谈</a>
             </li>
             <li>
                 <a href="{% url 'intro' %}" >关于我们</a>
             </li>
         </ul>
     </div>
     <div class="search" style="margin-left:500px;margin-top:30px;">
         <form action="{% url 'search' %}">
             {{ form.as_p }}
             <input type="submit" name="submit">
         </form>
     </div>

     <!-- body -->
     <div>
         <table class="table table-bordered table-hover "
                data-pagination-detail-h-align="right"
                data-toggle="table"
                data-pagination="true"
                data-pagination-loop="false" data-page-size="5" data-show-pagination-switch="false"
                data-classes="table"
                style="text-align: center; width:520px; margin-left:500px; margin-top:15px;">
             <thead class="thead-light">
             <tr align="center">
                 <th data-field="name" data-halign="center" data-sortable="true" scope="col">姓名</th>
                 <th data-field="date" data-halign="center" scope="col">日期</th>
                 <th data-field="info" data-halign="center" scope="col">详情</th>
             </tr>
             </thead>
             <tbody>
                 {% for each_patient in patients %}
                 <tr align="center">
                     <th data-field="name" scope="row">{{ each_patient.patient_name }}</th>
                     <td data-field="date">{{ each_patient.date }}</td>
                     <td class="table-info" data-field="info">
                                <a href="{{ each_patient.get_absolute_url }}">detail</a>
                     </td>
                 </tr>
                 {% endfor %}
             </tbody>
         </table>
     </div>
</body>
</html>