<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>历史记录查询</title>
    <link rel="stylesheet" href="static/app1/css/base.css?v={{VERSION}}">
    <link rel="stylesheet" href="static/app1/css/index.css?v={{VERSION}}">
</head>
<body>
     <!-- 头部区域 -->
     <div class="title">
        <div class="wrapper">
            <div class="logo">
                <h1>
                    <a href="#">四川大学</a>
                </h1>
            </div>
            
            <div class="ngv">
                <ul>
                    <li>
                        <a href="{% url 'index' %}">首页</a>
                    </li>

                    <li>
                        <a href="{% url 'predict' %}">剂量图生成</a>
                    </li>
                    <li>
                        <a href="{% url 'history' %}" class="active" style="color:#90ee90;">历史查询记录</a>
                    </li>
                    <li>
                        <a href="{% url 'intro' %}">关于我们</a>
                    </li>

                </ul>
            </div>
            <div class="search">
                <form action="{% url 'search' %}">
                    <input type="text" name="tags">
                    <input type="submit" name="submit">
                </form>
            </div>
        </div>
    </div>
        <!-- body -->
    <div class="history">
        <ul>
            {% for each_patient in patients %}
            <li>
                <h3>{{ each_patient.name }}</h3>
                {{ each_patient.date }}
                <a href="history/{{ each_patient.name }}_{{ each_patient.id }}">detail</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>