<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/app1/css/index.css?v={{VERSION}}">
    <link rel="stylesheet" href="static/app1/css/base.css?v={{VERSION}}">
    <title>DIFFDP</title>
</head>
<body>
    <!-- 头部区域 -->
            <div class="top">
                <div class="logo">
                    <img src="../../static/app1/img/SCU_logo.png">
                </div>
                <div class="login">
                    <a href="#" style="color:white;">注册</a>
                    <a href="#" style="margin-left:5px; color:white;">登录</a>
                </div>
            </div>
            <div class="ngv">
                <a href="#" class="title">
                    AI prediction
                    </a>
                <ul>
                    <li>
                        <a href="{% url 'index' %}" class="active" style="color:#90ee90;">首页</a>
                    </li>

                    <li>
                        <a href="{% url 'predict' %}" >剂量图生成</a>
                    </li>
                    <li>
                        <a href="{% url 'history' %}">历史查询记录</a>
                    </li>
                    <li>
                        <a href="#">在线对谈</a>
                    </li>
                    <li>
                        <a href="{% url 'intro' %}" >关于我们</a>
                    </li>
                </ul>
    <!-- 核心区域 -->
   <div class="main">
       <div>
       <img src="././static/app1/img/back-beautiful-woman-who-is-happy-meadow-with-big-mountain-as.jpg">
       </div>
       <a class="tips" >
           我们提供什么帮助？
       </a>
    <div class="bottom">
        <div class="wrapper">
            <div>
                <img src="static/app1/img/use2.png" alt="">
            </div>
            <div class="left">
                <h2>关爱女性健康</h2>
                <h2>人人有责</h2>

            </div>
            <div class="center">
                <p>备案号：</p>
                <p>帮助中心</p>
            </div>
            <div>
                <p>联系作者</p>
                <p>邮编</p>
            </div>

            <div class="right">
                <p>版权属于：四川大学软件学院</p>
                <p>联系电话：17730501358</p>
            </div>

        </div>
    </div>

</body>
</html>