<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    {% load static %}
    <img src="{% static 'app1/img/1.jpg' %}">
    <ul>
        {% for img in raw_img_path %}
        <li>
            <img src="{{ MEDIA_URL }}{{ img }}">
        </li>
        {% endfor %}

        {% for img in new_img_path %}
        <li>
            <img src="{{ MEDIA_URL }}{{ img }}">
        </li>
    {% endfor %}
    </ul>
    <a href="/app1/upload">upload</a>
</body>
