<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于宫颈癌的介绍</title>
    <link rel="stylesheet" href="static/app1/css/base.css?v={{VERSION}}">
    <link rel="stylesheet" href="static/app1/css/intro.css?v={{VERSION}}">
    <link rel="stylesheet" href="static/app1/css/index.css?v={{VERSION}}">
</head>
<body>
    <!-- 头部区域 -->

            
           <div class="top">
                <div class="logo">
                    <img src="../../static/app1/img/SCU_logo.png">
                </div>
                <div class="login">
                    <a href="#" >注册</a>
                    <a href="#" style="margin-left:5px;">登录</a>
                </div>
            </div>
            <div class="ngv">
                <a href="#" class="title">
                    AI prediction
                    </a>
                <ul>
                    <li>
                        <a href="{% url 'index' %}" class="active" style="color:#90ee90;">首页</a>
                    </li>

                    <li>
                        <a href="{% url 'predict' %}" >剂量图生成</a>
                    </li>
                    <li>
                        <a href="{% url 'history' %}">历史查询记录</a>
                    </li>
                    <li>
                        <a href="{% url 'intro' %}" >关于我们</a>
                    </li>
                </ul>
    <!-- body -->
    <div class="body">
        <div class="shape1">你是否需要精准的剂量方案???</div>
        <div class="shape2">---------你是否饱受放疗计划的困扰???</div>
        <div class="shape3">结合人工智能和医学影像的技术---DIFFDP，它来了</div>

        <div class="shape4">
            <h3>面向患者</h3>
            <ul>
                <li>保障更多的女性健康安全</li>
                <li>让患者更安心</li>
            </ul>

        </div>
        <div class="shape4">
            <h3>面向医师</h3>
            <ul>
                <li>降低失误率以及药物对于身体的损坏</li>
                <li>为患者提供更好的方案</li>
            </ul>
        </div>
        <div style="position: relative;">
            <img src="static/app1/img/dosimetry.png" alt="剂量学规则" style="position: absolute; top: 20px; left: 200px;">
        </div>
    </div>

    <div class="part">
        <a class="title">什么是宫颈癌？？？</a>
        <div class="line"></div>
        <p>宫颈癌，也称为子宫颈癌，是女性生殖道恶性肿瘤，发生在子宫颈部位，
            最常见类型为鳞状细胞癌。病因主要为人乳头状瘤病毒（HPV）感染，尤其是HPV16和18型。
            宫颈癌的高危人群为有多个性伴侣者、性生活初夜早和免疫功能缺陷者。
            宫颈癌在早期可能无明显症状，随着疾病进展，可能出现阴道流血、异常阴道排液以及肿瘤侵犯到邻近周围的组织或器官时出现的症状。
            宫颈癌本身无传染性，但其主要病因HPV病毒可通过性接触传播。</p>

    </div>
    <div class="part">
        <a class="title">病因</a>
        <div class="line"></div>
        <ul>
            <li>
                <h3>免疫功能低下</h3>
                <p>免疫系统功能低下者，机体抵抗HPV感染的能力下降，如人类免疫缺陷病毒（HIV）患者、器官移植后服用抗排异药物的人群。</p>
            </li>
            <li>
                <h3>过早性行为和多个性伴侣</h3>
                <p>小于16~18岁开始有活跃性生活的女性，感染HPV的几率高于其他女性；性伴侣越多，感染几率越大。
                HPV感染后，增加罹患宫颈癌风险的因素</p>
            </li>
            <li>
                <h3>吸烟</h3>
                <p>吸烟时间越长，每天吸得越多，HPV感染后患宫颈癌的风险越高，自主吸烟和二手烟危害一样大。</p>
            </li>
            <li>
                <h3>多孕多产</h3>
                <p>多孕多产的女性，在HPV感染后患宫颈癌的风险较高。</p>
            </li>
            <li>
                <h3>感染</h3>
                <p>长期生殖道其他感染，阴道菌群失调。</p>
            </li>
        </ul>
            

    </div>
    <div class="part">
        <a class="title">症状</a>
        <div class="line"></div>
        <ul>
            <li>
                <h3>阴道流血</h3>
                <p>通常表现为接触性出血，比如在性生活、妇科检查后阴道流血或出现血性白带，出血量根据病灶侵犯血管的程度而有所不同；少数患者出现经期延长、经量增多等症状；老年患者通常表现为绝经后阴道流血。
                </p>
            </li>
            <li>
                <h3>阴道排液</h3>
                <p>患者阴道有异常排液，可以是白色的、血性的、稀薄如水样的；伴有感染时阴道排液为腥臭味或恶臭；晚期患者由于肿瘤组织坏死和感染，有大量米汤样或者脓性恶臭的分泌物。</p>
            </li>
            <li>
                <h3>其他组织或器官受侵犯的症状</h3>
                <p>宫颈癌晚期时，由于肿瘤侵犯到了邻近周围的组织或器官，比如压迫直肠、侵犯膀胱、盆腔神经等，患者会有尿频、尿急、肛门坠胀感、下腹和腿部肿痛等。
                    更晚病期，会导致输尿管梗阻、肾盂积水，肾功能损坏等。疾病末期，患者出现极度消瘦、大小便困难、贫血、乏力和阴道大出血等晚期恶性肿瘤的现象。</p>
            </li>
        </ul>

    </div>
    <div class="part">

        <a class="title">治疗手段</a>
        <div class="line"></div>
        <ul>
            <li>
                <h2>一般治疗</h2>
                <h3>放疗</h3>
                <p>使用高能射线来杀灭或抑制癌细胞生长，通常宫颈癌放疗需联合采用内外照射相结合的模式。
                    外照射是通常采用放射治疗的仪器，通过放疗专业医生勾画放疗部位，针对肿瘤本身和转移部位照射，起到杀伤癌细胞的目的，通常要多次照射，在一定时间内完成。
                    内照射也称为后装腔内放疗，是通过特制的管道，将放射源放在肿瘤体附近或瘤体内。</p>
                <h3>化疗</h3>
                <p>宫颈癌可以利用化学药物杀死癌细胞，宫颈癌化疗通常联合放疗起放疗增敏或协同作用，也用于晚期、复发性宫颈癌的治疗。</p>
                <h3>靶向与免疫治疗</h3>
                <p>宫颈癌靶向治疗主要利用单克隆抗体药物，在已经明确的作用位点，进行有针对性的治疗，这个位点可以是肿瘤细胞的一个蛋白分子或基因。这类药物特异性强，可以直接作用于宫颈肿瘤细胞。
                    免疫治疗是新兴的治疗方法，有越来越多的免疫靶向药物进入临床应用，目前主要用于复发晚期宫颈癌的治疗。</p>
            </li>
            <li>
                <h2>药物治疗</h2>
                    <h3>化疗药物</h3>
                    <p>常用的有顺铂、卡铂、紫杉醇（紫衫烷类）、氟尿嘧啶、拓扑替康、长春新碱、博来霉素等。治疗多为与放疗联合治疗。晚期、复发转移的患者，或缺少放疗设备的地区和单位可用于术前缩小肿瘤病灶，以及控制亚临床病灶和转移。
                        化疗药物常见的不良反应有恶心呕吐、骨髓抑制（如白细胞、血小板、红细胞的减少）、脱发、便秘或腹泻等，采用对症治疗。
                        </p>
                    <h3>靶向制剂</h3>
                    <p>目前临床应用的有贝伐单抗等抗血管生成药物，常用于晚期复发性疾病。要高度重视不良反应，包括皮疹、高血压胃肠道症状，轻度的症状可以进行观察，严重时对症治疗，必要时停止使用。</p>
            </li>
            <li>
                <h2>手术治疗</h2>
                    <h3>宫颈锥切术</h3>
                    <p>包括冷刀锥切术和环形电切除术。</p>

                    <h3>全子宫切除术</h3>
                    <p>包括宫颈和子宫体切除的手术。</p>

                    <h3>根治性子宫切除术</h3>
                    <p>是标准的宫颈癌手术，切除子宫颈、子宫、部分阴道以及宫颈、阴道旁周围的韧带和组织，盆腔淋巴结切除术。根据年龄和分期以及组织病理类型切除或保留卵巢和输卵管。</p>

                    <h3>改良根治性子宫切除术</h3>
                    <p>手术范围小于根治性子宫切除，切除子宫、宫颈、阴道上部以及小于根治性子宫切除的宫颈及阴道周围的韧带和组织，盆腔淋巴结切除。</p>

                    <h3>根治性子宫颈切除术</h3>
                    <p>为保留生育功能的手术，切除宫颈、一定宽度的宫颈旁组织和盆腔淋巴结以及阴道上部，保留子宫和卵巢。</p>

                    <h3>超根治性子宫切除术</h3>
                    <p>手术范围超过根治性子宫切除术，沿盆壁切除子宫、宫颈及阴道旁组织，必要时切除肿瘤侵犯的直肠和膀胱，盆腔淋巴结切除，双附件切除。
                    </p>
            </li>
        </ul>
    </div>

    <div class="bottom">
            网站有任何问题，请联系：123456789
    </div>
</body>
</html>