<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>剂量预测</title>
    <link rel="stylesheet" href="static/app1/css/base.css?v={{VERSION}}">
    <link rel="stylesheet" href="static/app1/css/index.css?v={{VERSION}}">
</head>
<body>
     <!-- 头部区域 -->
     <div class="top">
                <div class="logo">
                    <img src="../../static/app1/img/SCU_logo.png">
                </div>
                <div class="login">
                    <a href="#" >注册</a>
                    <a href="#" style="margin-left:5px;">登录</a>
                </div>
            </div>
            <div class="ngv">
                <a href="#" class="title">
                    AI prediction
                    </a>
                <ul>
                    <li>
                        <a href="{% url 'index' %}" class="active" >首页</a>
                    </li>

                    <li>
                        <a href="{% url 'predict' %}" style="color:#90ee90;">剂量图生成</a>
                    </li>
                    <li>
                        <a href="{% url 'history' %}">历史查询记录</a>
                    </li>
                    <li>
                        <a href="{% url 'intro' %}" >关于我们</a>
                    </li>
                </ul>
     <div class="upload">
         <form action="{% url 'predict' %}" method="post" enctype="multipart/form-data">
             {% csrf_token %}
             <input type="file" name="upload_file" accept=".npz">
             <input type="submit" name="submit">
         </form>
     </div>
     <!--上传-->
     <div class="show_msg">
         {% if msg %}
            <p>{{ msg }}</p>
         {% endif %}
     </div>
     <!--展示重复 msg-->
     <div class="show_patient">
         {% if patient %}
            <h3>{{ patient.name }}</h3>
            {{ patient.date }}
            <a href="history/{{ patient.name }}_{{ patient.id }}">detail</a>
         {% endif %}
     </div>
     <!--上传后信息显示-->
     <!-- body -->
</body>
</html>