/* 基础公共样式：清除默认样式 + 设置通用样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li {
    list-style: none;
  }

  body {
    font: 14px/1.5 "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
  }

  a {
    color: #333;
    text-decoration: none;
  }
.top{
    background-color:#00827F;
    height:25px;
}
.top .logo{
    display:inline-block;
    margin-left:350px;
}
.top .login{
    text-decoration:underline;
    display:flex;
    position:absolute;
    left:1300px;
    top:3px;
}
.ngv .title {
    display:inline-block;
    font-size:45px;
    color:#00827F;
    margin-left:125px;
}

  .ngv{
    background-color:white;
}
  .ngv ul li {
    display: inline-block;
    margin-right: 80px;
}
  .ngv ul li a {
    display: inline-block;
    padding: 0 7px;
    line-height: 17px;
    color:black;
    font-weight:500;
    text-decoration: none;
}

  .ngv li a:hover {
    color:#90ee90;
}
  .ngv ul {
    display:flex;
    position: absolute;
    left:350px;
    top:45px;
    font-size: 25px;
    font-family: 楷体;
    margin-top:0px;
    margin-left: 150px;
}
.login{
   color:white;
}
.tips{
    text-decoration: none;
    font-size:50px;
    margin-left:550px;
    padding-top:300px;
}
.tds{
   font-size:20px;
   border:15px solid white
}
.ths{
   font-size:20px;
   font-weight:bold;
   border:25px solid white;
}

